<%-include("partials/header")%>
<h1>Compose</h1>
<br>
<h5 >Title</h5>
<form class="" action="" method="post">

  <div class = "form-group">
  <textarea name="titlevalue" class = "form-control"rows="1" cols="150"></textarea>

  <h5>Post</h5>
  <textarea name="postvalue" class = "form-control"rows="4" cols="150"></textarea>
    </div>


  <button type="submit"class = "btn btn-primary" name="button">Publish</button>

</form>

<%-include("partials/footer")%>
